# -*- coding: utf-8 -*-
"""
Created on Sat Mar 14 20:01:38 2020

@author: pRoJyot
"""

<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Open Library</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Search your Author</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('api_all')}}"method="post">
    	
    	<input type="text" name="Per Capita Crime Rate" placeholder="Crim" required="required" />
        <input type="text" name="Residential land" placeholder="Zn" required="required" />
		<input type="text" name="non-retail business acres" placeholder="Indus" required="required" />

    	
        <button type="submit" class="btn btn-primary btn-block btn-large">Search</button>
    </form>

   <br>
   <br>
   {{ search_result }}

 </div>


</body>
</html>