<html>

<body>
{% block title %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">LANG LENGUA</h1>
            <h2 > AAlSSI GINNIYA </h2>
            <p>This is app for a simple language learning application with live conversion. It includes special features like group discussion,dedicated tutor
            , limited batch classrooms and many more exicting features are coming up.....
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-4">
        <h2>germen</h2>
        <p>Dies ist eine App für eine einfache Sprachlernanwendung mit Live-Konvertierung. Es enthält spezielle Funktionen wie Gruppendiskussionen, engagierte Tutor
            , begrenzte Klassenräume und viele weitere herausragende Funktionen stehen an ..... </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>espanol</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>francis</h2>
        <p>Ceci est une application pour une application d'apprentissage des langues simple avec conversion en direct. Il comprend des fonctionnalités spéciales telles que la discussion de groupe, un tuteur dédié
            , des classes de lots limitées et de nombreuses autres fonctionnalités sont à venir ......</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
{% endblock %}
</body>
</html>
